{% extends "base.html" %}
{% block content %}
<h1 id="homepage_header">Final project</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Item type</th>
            <th>Average profit</th>
        </tr>
    </thead>
    <tbody>
        {% for item_type, count in counter.items()|sort(attribute='0') %}
            <tr>
                <td>{{ item_type }}</td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<img src="{{ url_for('bp.image') }}" class="rounded mx-auto d-block" alt="Plot with analysis">

{% endblock content %}